.new-aprendiz-content {
  position: relative;
  left: 0%;
  margin-top: 120px;
  padding-top: 20px;
}
.contenedor-formulario-aprendiz {
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 19px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 19px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 19px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
.formulario-aprendiz {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.formulario-aprendiz .form-group > label {
  font-weight: 600;
}

.formulario-aprendiz input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario-aprendiz .btn-register {
  grid-column: 1 / -1;
  width: 100%;
  padding: 10px;
  background-color: #39a900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formulario-aprendiz .btn-register:hover {
  background-color: #2a7d00;
}

.aprendices-new-title {
  color: #39a900;
}

.new-aprendiz-ficha-sel{
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 1rem;
  padding: 8px;
  background-color: #f5f5f5;
}

.new-aprendiz-ficha-sel:focus{
  background-color: #fff;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 22px;
  height: 20px;
  border-radius: 50%;
  border-left-color: #fff;
  margin: auto;
  display: block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.modal-ficha-aprendiz {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 11px 1px rgba(129, 122, 122, 0.3);
  z-index: 1000;
}

.overlay-Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.modal-fichas-set-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-fichas-set-content  ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.modal-fichas-set-content li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.modal-fichas-set-content li:hover {
  background-color: #eaeaea;
  border-radius: 8px;
}

@media screen and (max-width: 480px) {
  .formulario-aprendiz {
    grid-template-columns: 1fr;
  }
}
